/.tmp/
*.pprof
*.svg
cover.out

/cmd/protoc-gen-pluginrpc-go/protoc-gen-pluginrpc-go
/internal/example/cmd/example-client-echo-error/example-client-echo-error
/internal/example/cmd/example-client-echo-list/example-client-echo-list
/internal/example/cmd/example-client-echo-request/example-client-echo-request
/internal/example/cmd/example-plugin/example-plugin
